<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_AutoConnect>
            <version>0.1.1</version>
        </Elgentos_AutoConnect>
    </modules>
    <global>
        <blocks>
            <autoconnect>
                <class>Elgentos_AutoConnect_Block</class>
            </autoconnect>
        </blocks>
        <models>
            <autoconnect>
                <class>Elgentos_AutoConnect_Model</class>
            </autoconnect>
        </models>
        <helpers>
            <autoconnect>
                <class>Elgentos_AutoConnect_Helper</class>
            </autoconnect>
        </helpers>
    </global>

    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <autoconnect>
                        <type>singleton</type>
                        <class>autoconnect/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </autoconnect>
                </observers>
            </catalog_product_save_after>
            <catalog_product_save_before>
                <observers>
                    <autodisconnect>
                        <type>singleton</type>
                        <class>autoconnect/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </autodisconnect>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>

    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <autoconnect>
                        <type>singleton</type>
                        <class>Elgentos_AutoConnect_Model_Header</class>
                        <method>add</method>
                    </autoconnect>
                </observers>
            </cms_page_render>
        </events>
    </frontend>

    <default>
        <catalog>
            <autoconnect>
                <disable_ext>0</disable_ext>
                <connect>up_sell</connect>
                <autodisconnect>0</autodisconnect>
            </autoconnect>
        </catalog>
    </default>
</config>
